*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}


.row{
        display: flex;
        flex-wrap: wrap;
    
}


.logo{
   background-color: #daa520;
   border: 1px dotted black ;
   padding: 0.3rem ;
   margin: 0.3rem 0;
   
}

.nav{
    background-color: #daa520;
    border: 1px dotted black ;
    padding: 0.3rem 0;
    margin: 0.3rem 0;
    text-align: center;
 }

 .login{
    background-color: #daa520;
    border: 1px dotted black ;
    padding: 0.3rem ;
    margin: 0.3rem 0;
    text-align: end;

 }

header{
    background-color: #add8e6 ;
    height: 40px;
}

.title{
    background-color:#00008b ;
    height: 300px;
    padding-top: 50px;
    margin-bottom: 25px;
    
}

.presentazione{
    background-color:#ee82ee ;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    border: 1px dotted black ;

}

.img, .text{
    height:300px ;
    border: 1px dotted black ;

}

.img{
    background-color: #1e90ff;
}

.text{
    background-color: #ffc0cb;
}

.sfondo{
    background-color:#d3d3d3 ;
    margin:25px 0 ;
    align-items: center;  
    padding-bottom: 25px;
    padding-top: 25px;
}


.videocall{
    background-color:#228b22 ;
    text-align: center;
    height: 600px;
    border: 1px dotted black ;
}

.nav_final{
    background-color: #23272a;
    border: 1px dotted black ;
    text-align: center;

 }

 .social, .approfondimenti{
    height: 400px;
 }

 .social{
    background-color:#f08080 ;
 }

 .approfondimenti{
    background-color: #20b2aa;
 }

 .sfondo_final{
    background-color: #23272a;
    margin:25px 0 ;
    padding-bottom: 25px;
    padding-top: 25px;
}

.prodotto, .compagnia, .risorse, .norme{
    border: 1px dotted white;
    height: 400px ;
}

/* DIVISIONI IN COLONNE */
.col-1{
    width: calc((100% / 12) * 1);
}

.col-2{
    width: calc((100% / 12) * 2);
}
.col-3{
    width: calc((100% / 12) * 3);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-5{
    width: calc((100% / 12) * 5);
}

.col-6{
    width: calc((100% / 12) * 6);
}

.col-7{
    width: calc((100% / 12) * 7);
}

.col-8{
    width: calc((100% / 12) * 8);
}
.col-9{
    width: calc((100% / 12) * 9);
}

.col-10{
    width: calc((100% / 12) * 10);
}

.col-11{
    width: calc((100% / 12) * 11);
}

.col-12{
    width: calc((100% / 12) * 12);
}


